<!DOCTYPE html>
<html lang="en">
    <head th:fragment="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script th:src="@{/dist/turbo.js}" type="module" async defer></script>
        <script th:src="@{/dist/marked.js}"></script>
        <!-- <script type="module" src="https://md-block.verou.me/md-block.js"></script> -->

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.2.0/dist/jdenticon.min.js" async
                integrity="sha384-yBhgDqxM50qJV5JPdayci8wCfooqvhFYbIKhv0hTtLvfeeyJMJCscRfFNKIxt43M"
                crossorigin="anonymous">
        </script>
        <!--<script th:src="@{/js/main.js}" type="application/javascript"></script>-->
        <link rel="stylesheet" th:href="@{/dist/style.css}"/>
        <title>Codehub</title>
    </head>
</html>