<!DOCTYPE html>
<html lang="en"
      class="h-full"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head}"></head>
    <body class="h-full">
        <h1>Followers page</h1>

        <turbo-frame id="followers">
            <div class="mt-6 flow-root">
                <ul th:each="user : ${followersPage}"
                    role="list"
                    class="-my-5 divide-y divide-gray-200">
                    <li class="py-4 items-center ">
                        <div class="flex items-center space-x-4">
                            <div class="flex-shrink-0">
                                <svg class="h-8 w-8 mx-auto rounded-full bg-gray-200" th:data-jdenticon-value="${user.username()}"></svg>
                            </div>
                            <div class="min-w-0 flex-1">
                                <p th:text="${user.username()}" class="truncate text-sm font-medium text-gray-900"></p>
                            </div>
                            <div>
                                <a th:href="@{/profile/{username} (username=${user.username()})}" class="inline-flex items-center px-2.5 py-1 text-xs  text-gray-900 shadow-sm  hover:bg-gray-50">View &rarr;</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div th:replace="~{fragments/pagination :: pagination('/profile/' + ${currentProfileName} + '/followers', ${followersPage.number},${followersPage.totalPages}, ${followersPage.size})}">
                </div>
            </div>
        </turbo-frame>
    </body>
</html>



