<!DOCTYPE html>
<html lang="en"
      class="h-full"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head}"></head>
    <body class="h-full">
        <h1>Followings page</h1>

<!--        <ul th:each="user : ${followingsPage}">-->
<!--            <li th:text="${user.username()}"></li>-->
<!--            <li><a th:href="@{/profile/{username} (username=${user.username()})}">Open profile &rarr;</a></li>-->
<!--        </ul>-->

        <turbo-frame id="followings">
            <div class="mt-6 flow-root">
                <ul th:each="user : ${followingsPage}"
                    role="list"
                    class="-my-5 divide-y divide-gray-200">
                    <li class="py-4">
                        <div class="flex items-center space-x-4">
                            <div class="flex-shrink-0">
                                <svg class="h-8 w-8 mx-auto rounded-full bg-gray-200" th:data-jdenticon-value="${user.username()}"></svg>
                            </div>
                            <div class="min-w-0 flex-1">
                                <p
                                        th:text="${user.username()}"
                                        class="truncate text-sm font-medium text-gray-900"></p>
                            </div>
                            <div>
                                <a th:href="@{/profile/{username} (username=${user.username()})}" class="inline-flex items-center  bg-white px-2.5 py-1 text-xs  text-gray-900 shadow-sm  hover:bg-gray-50">View &rarr;</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div th:replace="~{fragments/pagination :: pagination('/profile/' + ${currentProfileName} + '/followings', ${followingsPage.number},${followingsPage.totalPages}, ${followingsPage.size})}">
                </div>
            </div>
        </turbo-frame>

    </body>
</html>



