<!DOCTYPE html>
<html lang="en"
      class="h-full"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head}"></head>
    <body class="h-full">
        <div class="flex min-h-full">
            <div class="flex flex-1 flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
                <div class="mx-auto w-full max-w-sm lg:w-96">
                    <!-- LOGIN HEADER -->
                    <div>
                        <img th:src="@{images/osmocode-logo.png}" alt="Osmocode logo" class="h-12 w-auto">
                        <h2 class="mt-6 text-3xl font-bold tracking-tight text-gray-900">Sign in to Codehub</h2>
                    </div>

                    <!-- LOGIN FORM ERROR -->
                    <div class="rounded-md bg-red-50 p-4 mt-6 sm:mx-auto sm:w-full sm:max-w-md" th:if="${param.error}">
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <div class="ml-3">
                                <h3 class="text-sm font-medium text-red-800">Bad credentials</h3>
                            </div>
                        </div>
                    </div>

                    <!-- LOGIN FORM -->
                    <div class="mt-6">
                        <form action="/login" method="POST" class="space-y-6">
                            <div>
                                <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Username</label>
                                <div class="mt-2">
                                    <input id="username" name="username" type="text" required class="block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6">
                                </div>
                            </div>

                            <div class="space-y-1">
                                <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                                <div class="mt-2">
                                    <input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6">
                                </div>
                            </div>

                            <div class="flex items-center justify-end">
                                <p class="text-sm text-gray-600">
                                    Not a member?
                                    <a href="#" class="font-medium text-sky-600 hover:text-sky-500">Sign up now</a>
                                </p>
                            </div>

                            <div>
                                <button type="submit" class="flex w-full justify-center rounded-md bg-sky-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-sky-500 focus-visible:outline">Sign in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="relative hidden w-0 flex-1 lg:block">
                <img class="absolute inset-0 h-full w-full object-cover" src="https://images.unsplash.com/photo-1668162456452-11e6ca7c8608?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" alt="">
            </div>
        </div>
    </body>
</html>