<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-full">
    <head th:replace="~{fragments/head :: head}"></head>
    <body class="h-full">
        <aside th:replace="~{fragments/sidebar :: sidebar('Users')}"></aside>
        <div class="flex flex-1 flex-col lg:pl-64">
            <nav th:replace="~{fragments/nav :: nav}"></nav>

            <div class="py-24 sm:py-32">
                <div class="mx-auto max-w-7xl px-6 lg:px-8">
                    <div class="mx-auto max-w-2xl lg:mx-0">
                        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Member</h2>
                        <p class="mt-6 text-lg leading-8 text-gray-600">Following members impacts your experience within the platform. Give a confidence rating to the member you follow to improve your search.</p>
                    </div>
                    <ul role="list" class="mx-auto mt-20 grid max-w-2xl grid-cols-2 gap-y-16 gap-x-8 text-center sm:grid-cols-3 md:grid-cols-4 lg:mx-0 lg:max-w-none lg:grid-cols-5 xl:grid-cols-6">
                        <li th:each="user : ${profilesPage}">
                            <svg class="h-24 w-24 mx-auto rounded-full bg-gray-200" th:data-jdenticon-value="${user.username()}"></svg>
                            <h3 class="mt-6 text-base font-semibold leading-7 tracking-tight text-gray-900"
                                th:text="${user.username()}"
                            ></h3>
                            <a class="text-sm leading-6 text-gray-600"
                               th:href="@{/profile/{username} (username=${user.username()})}"
                            >Open profile &rarr;</a>
                        </li>
                    </ul>
                </div>
                <div th:replace="~{fragments/pagination :: pagination('/profiles', ${profilesPage.number}, ${profilesPage.totalPages}, ${profilesPage.size})}">
                </div>
            </div>
        </div>
    </body>
</html>
