<!DOCTYPE html>
<html lang="en"
      class="h-full"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head th:replace="~{fragments/head :: head}"></head>
    <body class="h-full">
    <aside th:replace="~{fragments/sidebar :: sidebar('Questions')}"></aside>
    <div class="flex flex-1 flex-col lg:pl-64">
        <nav th:replace="~{fragments/nav :: nav('question')}"></nav>
        <main class="py-12 sm:py-24">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="mx-auto max-w-2xl lg:mx-0">
                    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
                        <span th:if="${#strings.isEmpty(search)}">Questions</span>
                        <span th:if="${!#strings.isEmpty(search)}" th:text="'Search Results: ' + ${search}">Search</span>
                    </h2>
                    <p class="mt-6 text-lg leading-8 text-gray-600">Start to search something.</p>
                    <div class="mt-4">
                        <a th:href="@{/question/ask}" class="rounded-md bg-sky-50 py-2.5 px-3.5 text-sm font-semibold text-sky-600 shadow-sm hover:bg-sly-100">Ask question</a>
                    </div>
                </div>
                <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
                    <ul role="list" class="divide-y divide-gray-200 mt-6">
                        <li class="px-4 py-4 sm:px-0" th:each="question: ${questions}">
                            <article class="flex flex-col sm:flex-row gap-x-4">
                                <div class="flex flex-row sm:flex-col gap-y-2 gap-x-4 text-end sm:w-32">
                                    <span>1 vote</span>
                                    <span>
                                        <span class="rounded-md bg-green-100 px-2.5 py-0.5 text-sm font-medium text-green-800">1 Answer</span>
                                    </span>
                                </div>
                                <div class="flex flex-col">
                                    <a th:href="'/question/' + ${question.id}" class="text-2xl font-semibold text-gray-900" th:text="${question.title}">Title</a>
                                    <p class="mt-1 max-w-2xl text-sm text-gray-500">Tags</p>
                                    <div class="flex flex-1 flex-wrap gap-2 mt-2" >
                                        <span class="inline-flex items-center rounded bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800"
                                              th:each="tag: ${question.tags}"
                                              th:text="${tag.name}">beta</span>
                                    </div>
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
    </body>
</html>
